<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<title>Chris Goo</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta property="og:title" content="">
	<meta property="og:type" content="">
	<meta property="og:url" content="">
	<meta property="og:image" content="">

	<link rel="manifest" href="static/site.webmanifest">
	<link rel="apple-touch-icon" href="web/files/icon.png">

	<link rel="stylesheet" href="web/css/normalize.css">
	<link rel="stylesheet" href="web/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

	<meta name="theme-color" content="#fafafa">
</head>
<body>
	<div class="header">
		<div class="logo">
				<object type="image/svg+xml" data="static/img/logo.svg"></object>
		</div>
	</div>


	<div class="main-container">
		<div class="main wrapper clearfix">

			<div class="hi">
				<div class="im">
						<div class="chris">software engineer</div>
						<div class="goo">web designer</div>
						<div class="geek">geek</div>
				</div>
			</div>
		</div> <!-- #main -->
	</div> <!-- #main-container -->

	<div class="footer-container">
		<footer class="wrapper">
			<h3>footer</h3>
		</footer>
	</div>

	<script src="static/js/vendor/modernizr-3.11.2.min.js"></script>
	<script src="static/js/plugins.js"></script>
	<script src="static/js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID.
	<script>
		window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
		ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
	</script>
	<script src="https://www.google-analytics.com/analytics.js" async></script>
	-->
</body>
</html>
